@import "tailwindcss";





@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-sans;
}



:root {
    --react-international-phone-height: 42px; /* adjust to your liking */
  --react-international-phone-background-color: #e0e0e0;
  --react-international-phone-text-color: #000;
  --react-international-phone-border-color: #b3aeae;     /* gray-700 */
  --react-international-phone-country-selector-background-color: #e0e0e0;
  --react-international-phone-country-selector-background-color-hover: #e0e0e0;
  --react-international-phone-dropdown-item-background-color: #c9cdd1;
  --react-international-phone-selected-dropdown-item-background-color: #e0e0e0;
  --react-international-phone-dropdown-item-text-color: #000;
  --react-international-phone-dropdown-item-font-size: 14px;
  --react-international-phone-dropdown-shadow: 0 2px 8px rgba(0,0,0,0.75);
}
